apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dicom
resources:
- dicom-namespace.yaml
- mysql-pv.yaml
- mysql-pvc.yaml
- mysql-deployment.yaml
- mysql-service.yaml
- dicom-pv.yaml
- dicom-pvc.yaml
- dicom-deployment.yaml
- dicom-service.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: json-configmap
  files:
    - orthanc.json