# SPDX-FileCopyrightText: © 2024 Siemens Healthineers AG
#
# SPDX-License-Identifier: CC0-1.0

#Binaries
bin/kube/*.exe
bin/kube/*.dll
bin/nginx
bin/helm.exe
flannel*.exe
host-local.exe
win*.exe
kub*.exe
virt*.exe
bin/argocd.exe
bin/cmctl.exe
nssm.exe
vc_redist.x64.exe
bin/cmctl.exe
bin/oras.exe

#Scripts
smallsetup/common/StartKubelet.ps1
LocalHooks/*.ps1

#Configs
/config
cni/cni-conf.json
*.code-workspace
.vscode/*
.vs/*
.idea/*
vfprules.json
bin/dnsproxy.yaml
smallsetup/common/JoinWindowsHost.yaml
cfg/kubeadm/joinnode.yaml
addons/smb-share/**/set-host-path.patch.yaml

# allow team-shared workspace to enable sharing of styles/rules/dictionaries
!.vscode/settings.json
!.vscode/settings.json.license
!.vscode/extensions.json
!.vscode/extensions.json.license
!.vscode/spellright.dict
!.vscode/spellright.dict.license

#Logs/States
monitoring/helm*.log
logs_*.csv
PreCleanupState_*/*
helpers/images.txt

#Containerd
bin/containerd/*container*.*
bin/containerd/ctr.exe
cfg/containerd/config.toml
cfg/containerd/cni/conf/flannel-l2bridge.conf
containerd/root/*
containerd/state/*
crictl.exe
crictl.yaml
nat.exe
sdnoverlay.exe
containerd/*.tar.gz

# DockerCE
/bin/docker/
/smallsetup/docker-*.zip

# virtualized
*.iso
/bin/msilog.txt
/bin/*.msi
/lib/NSSM/*

/smallsetup/linuxnode/containernetwork/masternode/flannel.yml

bin/dnsproxy.exe
containerd/vfprules.log
bin/nerdctl.exe
containerd/nerdctl.exe

# VM provisioning, Windows node, downloaded artifacts
/bin/provisioning
/bin/downloads
/bin/Kubemaster-Base.vhdx
/bin/KubeMaster-Base.rootfs.tar.gz
/bin/Kubemaster-Base-Ubuntu.vhdx
/bin/Kubenode-Base.vhdx
/bin/Kubeworker-Base.vhdx
/bin/Windows-Base.vhdx
/bin/Windows-Kubeworker-Base.vhdx
/bin/windowsnode
/bin/WindowsNodeArtifacts.zip
/bin/linuxnode
/bin/LinuxNodeArtifacts.zip

bin/msiinstall.log
bin/msiuninstall.log

# addons
addons/hooks

# apps in /k2s exclude 
/k2s/**/*.exe

tmp/**/*

# temp files in /k2s
/k2s/**/*.tmp
db.sqlite

# sbom
build/bom/merge/bridge.json
build/bom/merge/bridge.xml
build/bom/merge/httpproxy.json
build/bom/merge/httpproxy.xml
build/bom/merge/k2s.json
build/bom/merge/k2s.xml
build/bom/merge/vfprules.json
build/bom/merge/vfprules.xml
build/bom/merge/kubemaster.json
build/bom/merge/cloudinitisobuilder.json
build/bom/merge/cloudinitisobuilder.xml
build/bom/merge/devgon.json
build/bom/merge/devgon.xml
build/bom/merge/zap.xml
build/bom/merge/zap.json
build/bom/merge/pause.json
build/bom/merge/yaml2json.json
build/bom/merge/c-*.json
build/bom/container-images-used.json

bin/cyclonedx-win-x64.exe
bin/cdxgen.exe
bin/trivy.exe
bin/jq.exe
bin/yq.exe
bin/helm.exe

bin/plink.exe
bin/pscp.exe

# test run artifacts
test/*Test*.xml
**/*.test
k2s/test/e2e/cluster/node/overlays/**/*.yaml

build/bom/merge/k2s-bom.json
bin/cdxgen.exe

# static docs generator
.cache
site
build/bom/sbomgenerator.exe
k2s/cmd/vfprules/vfprules/vfprules.obj
k2s/cmd/vfprules/vfprules/vfprules.dll
k2s/cmd/vfprules/vfprules/vfprules.exp
k2s/cmd/vfprules/vfprules/vfprules.lib
k2s/cmd/vfprules/vfprules/.vs/**
k2s/cmd/vfprules/vfprules/x64/**
k2s/cmd/vfprules/vfprules/vfprules.sln
k2s/cmd/vfprules/vfprules/vfprules.vcxproj.filters
k2s/cmd/vfprules/vfprules/vfprules.vcxproj.user
bin/cni/vfprules.lib
bin/cni/vfprules.json.origin
bin/cni/vfprules.exp
bin/cni/vfprules.pdb

addons/security/login
addons/security/login.exe
bin/linkerd.exe
addons/security/manifests/linkerd/linkerd.yaml
addons/security/manifests/linkerd/linkerd-crds.yaml
addons/storage/smb/build/smbplugin.exe
addons/storage/smb/build/csi-node-driver-registrar.exe
bin/debian-12-genericcloud-amd64.qcow2
**/debianpackages/**/*.deb
**/linuxpackages/**
**/windowspackages/**
