# SPDX-FileCopyrightText: © 2023 Siemens Healthcare GmbH
#
# SPDX-License-Identifier: CC0-1.0

#Binaries
bin/exe/*.exe
bin/exe/*.dll
bin/nginx
bin/helm.exe
flannel*.exe
host-local.exe
win*.exe
kub*.exe
virt*.exe
ARGO.EXE
nssm.exe
vc_redist.x64.exe


#Scripts
smallsetup/common/StartKubelet.ps1
LocalHooks/*.ps1

#Configs
*.tgz
/config
cni/cni-conf.json
*.code-workspace
.vscode/*
.idea/*
vfprules.json
bin/dnsproxy.yaml
smallsetup/common/JoinWindowsHost.yaml
cfg/kubeadm/joinwindowsnode.yaml
addons/smb-share/**/set-host-path.patch.yaml

# allow team-shared workspace to enable sharing of styles/rules/dictionaries
!.vscode/settings.json
!.vscode/settings.json.license
!.vscode/extensions.json
!.vscode/extensions.json.license
!.vscode/spellright.dict
!.vscode/spellright.dict.license

#Logs/States
monitoring/helm*.log
logs_*.csv
PreCleanupState_*/*
helpers/images.txt

#Containerd
bin/containerd/*container*.*
bin/containerd/ctr.exe
cfg/containerd/config.toml
cfg/containerd/cni/conf/flannel-l2bridge.conf
containerd/root/*
containerd/state/*
crictl.exe
crictl.yaml
nat.exe
sdnoverlay.exe
containerd/*.tar.gz

# DockerCE
/bin/docker/
/smallsetup/docker-*.zip

# virtualized
*.iso
/bin/msilog.txt
/bin/*.msi
/lib/NSSM/*

/smallsetup/linuxnode/containernetwork/masternode/flannel.yml

bin/dnsproxy.exe
containerd/vfprules.log
bin/nerdctl.exe
containerd/nerdctl.exe

# VM provisioning, Windows node, downloaded artifacts
/bin/provisioning
/bin/downloads
/bin/Kubemaster-Base.vhdx
/bin/KubeMaster-Base.rootfs.tar.gz
/bin/Kubemaster-Base-Ubuntu.vhdx
/bin/Kubenode-Base.vhdx
/bin/Windows-Base.vhdx
/bin/Windows-Kubenode-Base.vhdx
/bin/windowsnode
/bin/WindowsNodeArtifacts.zip

bin/msiinstall.log
bin/msiuninstall.log

# addons
addons/hooks

# apps in /k2s
/k2s/**/*.exe

tmp/**/*

# temp files in /k2s
/k2s/**/*.tmp

# sbom
build/bom/merge/bridge.json
build/bom/merge/bridge.xml
build/bom/merge/httpproxy.json
build/bom/merge/httpproxy.xml
build/bom/merge/k2s.json
build/bom/merge/k2s.xml
build/bom/merge/vfprules.json
build/bom/merge/vfprules.xml
build/bom/merge/kubemaster.json
build/bom/merge/cloudinitisobuilder.json
build/bom/merge/cloudinitisobuilder.xml
build/bom/merge/devgon.json
build/bom/merge/devgon.xml
build/bom/merge/zap.xml
build/bom/merge/zap.json
build/bom/merge/pause.json
build/bom/merge/yaml2json.json
build/bom/merge/c-*.json

bin/cyclonedx-win-x64.exe
bin/cdxgen.exe
bin/trivy.exe
bin/jq.exe
bin/yq.exe

bin/plink.exe
bin/pscp.exe

# test run artifacts
test/*Test*.xml
**/*.test

build/bom/merge/k2s-bom.json
bin/cdxgen.exe

# static docs generator
.cache
site
build/bom/sbomgenerator.exe
