<!--
SPDX-FileCopyrightText:  © 2025 Siemens Healthineers AG
SPDX-License-Identifier:   MIT
-->
<network>
  <name>{{.Name}}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{.BridgeName}}' stp='on' delay='0'/>
  <ip address='{{.HostIP}}' netmask='{{.Netmask}}'>
    <dhcp>
      <range start='{{.DHCPRangeStart}}' end='{{.DHCPRangeEnd}}'/>
      <host mac='{{.WinVMMac}}' name='k2s-win-worker' ip='{{.WinVMIP}}'/>
    </dhcp>
  </ip>
</network>
