/* SPDX-FileCopyrightText: © 2024 Siemens Healthineers AG
SPDX-License-Identifier: MIT */

:root {
    --md-primary-fg-color:        #326CE5;
    --md-primary-fg-color--light: #7C9EE2;
    --md-primary-fg-color--dark:  #1F448E;

    --md-accent-fg-color:        #68B8E2;
  }

  .announcement {
    color: orange;
  }